export(define_naming)
export(define_save_obj.ref)
export(enforce.default)
export(ggsave.emf)
export(identity_naming)
export(ls.test)
export(naming.default)
export(save_data.frame)
export(save_data.frame.wb)
export(save_ggemf)
export(save_ggpdf)
export(save_ggplot)
export(save_ggtable)
import(devEMF)
import(lazyr)
import(tools)
import(XLConnect)
